<div id="black-bg">
        <div class="box">
              <span id="close">x</span>
           <div class="create-List">
                 <h1>Create New List</h1>  
                 <form action="/createList" method="post">
                 <input type="text" placeholder="List Title" name="newList" required>
                 <button class="btn" type="submit">Create List</button>
                 </form>
           </div> 
        </div>
     </div>